.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $polar;
}
.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}
.modal {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;

  width: 80%;
  position: relative;
}
.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.modal-icon {
  display: block;
  width: 100%;
  height: 100%;
}
