<div class="backdrop is-hidden" id="data-modal">
  <div class="modal">
    <button type="button" class="modal-close-btn" id="data-modal-close">
      <svg class="modal-icon">
        <use href="./images/sprites-flechas.svg#icon-modal-close"></use>
      </svg>
    </button>
    <p>THE BEST YOU'VE EVER HAD</p>
    <img src="./images/desktop/products/pink.png" alt="ice-pink" />
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut provident
      tempore assumenda molestiae explicabo. Commodi temporibus optio.
    </p>
    <a href="">want it</a>
  </div>
</div>
